body{
    background-color: rgba(105, 90, 205, 0.2);
}
/*********************************************  STYLE CLASS button button1 **********************************************************/
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    
}

.button2 {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
}

.button2:hover {
    background-color: #008CBA;
    color: white;
}

/********************************************************  DIV GENERAL  **********************************************************/
div#general{
    width: 85%;
    margin:0 auto 0 auto;
    
   
}
/********************************************************  TABLE PRODUCTOS STYLE     ----START-----         **********************************************************/
table#productos_table {
    text-align:center; 
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  
}

table#productos_table td, table#productos_table th {
    border: 1px solid #ddd;
    padding: 8px;
}

table#productos_table tr:nth-child(even){background-color: #f2f2f2;}

table#productos_table tr:hover {background-color: #ddd;}

table#productos_table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(197, 194, 248);
    color: white;
}
/********************************************************  TABLE PRODUCTS STYLE     ----END-----         **********************************************************/

/********************************************************  TABLE PEDIDOS STYLE     ----START-----         **********************************************************/
table#pedidos_table {
    text-align:center; 
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

table#pedidos_table td, table#pedidos_table th {
    text-align:center; 
    border: 1px solid #ddd;
    padding: 8px;
}

table#pedidos_table tr:nth-child(even){background-color: #f2f2f2;}

table#pedidos_table tr:hover {background-color: rgb(165, 159, 159);}

table#pedidos_table th {
    text-align:center; 
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(175, 76, 114);
    color: white;
}
/********************************************************  TABLE PEDIDOS STYLE     ----END-----         **********************************************************/


fieldset#fieldset1{
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: 2px groove (internal value);
    background-color: rgba(252, 253, 137, 0.898);
    border:3px solid rgb(128, 62, 0);
    border-radius: 10px;
}

fieldset#fieldset2{
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: 2px groove (internal value);
    background-color: rgba(215, 250, 221, 0.809);
    border:3px solid green;
    border-radius: 5px;
    
}



/******************************** Estilo legend, legend1 y legend2 **************************************************/
legend#legend{
    background-color: rgba(215, 230, 250, 0.809);
    font-size: 30px;
    font-style:oblique;
    padding: 5px;
    border-radius: 30px 30px 30px 30px;
    border-color: rgba(29, 28, 33, 0.748);
    border-style: solid;

    
}
legend#legend1{
    background-color: rgba(215, 230, 250, 0.809);
    font-size: 30px;
    font-style:oblique;
    padding: 5px;
    border-radius: 30px 30px 30px 30px;
    border-color: rgba(29, 28, 33, 0.748);
    border-style: solid;
}

legend#legend2{
    background-color: rgba(250, 215, 224, 0.809);
    font-size: 18px;
    font-style:Helvetica;
    padding: 15px;
    border-radius: 50px 50px 50px 50px;
    border-color: rgba(29, 28, 33, 0.748);
    border-style: solid;
}
/******************************** Estilo div_menu **************************************************/


div#div_menu{
    background-color: rgba(250, 220, 215, 0.857);
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    border-radius: 50px 50px 50px 50px;
}